.itemInfoContainer {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
  background: none;

  @media only screen and (max-width: 992px) {
    font-size: 12px;
  }

  @media only screen and (max-width: 768px) {
    gap: 10px;
    font-size: 10x;
  }
}

.itemShortcutContainer {
  display: flex;
  align-items: center;

  .itemShortcut {
    display: flex;
    align-items: center;
  }
}
