.itemContainer {
  display: flex;
  justify-content: space-between;
  width: 120px;
  font-weight: 100;
  color: var(--text-color);
  font-size: 14px;

  &:hover {
    color: whitesmoke;
  }

  @media only screen and (max-width: 992px) {
    font-size: 12px;
  }

  @media only screen and (max-width: 768px) {
    gap: 10px;
    font-size: 10x;
  }

  .itemInfoContainer {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    background: none;

    &:hover .canContainer {
      transform: rotate(40deg);
    }
  }

  .canContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms;
  }
}
