@use "../../../../styles/selectableColors.module.scss";

.taskForm {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 6px;
  gap: 15px;

  .addTaskButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: none;
    padding: 0px;
    cursor: not-allowed;
    opacity: 0.6;
    font-size: 20px;
    transition: opacity 200ms, font-size 400ms;

    @media only screen and (max-width: 576px) {
      font-size: 14px;
    }

    &Populated {
      @extend .addTaskButton;
      cursor: pointer;
      opacity: 1;
      font-size: 24px;

      @media only screen and (max-width: 576px) {
        font-size: 16px;
      }
    }

    .addIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--subtle-color);
    }
  }
}

.inputsContainer {
  display: flex;
  align-items: center;
  width: 90%;
  gap: 15px;

  .taskInputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    .taskInput {
      font-weight: 200;
      font-size: 18px;
      background: none;
      width: 100%;
      resize: none;
      padding: 0;
      overflow-y: auto;
      word-wrap: break-word;
      transition: padding 400ms;
      color: var(--text-color);

      @media only screen and (max-width: 992px) {
        font-size: 16px;
      }

      @media only screen and (max-width: 768px) {
        font-size: 14px;
      }

      @media only screen and (max-width: 576px) {
        font-size: 12px;
      }

      &Populated {
        @extend .taskInput;
        padding-left: 5px;
        padding-bottom: 2px;
        border-width: 1px;
        border-style: solid;
        border-top: none;
        border-left: none;
        border-right: none;
      }

      // Hide Scroll Bar
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
      &::-webkit-scrollbar {
        display: none;
      }

      &::placeholder {
        @extend .taskInput;
        display: flex;
        font-weight: 200;
        height: 30px;
        color: var(--subtle-color);
      }

      &:focus {
        outline: none;
        padding-left: 3px;
      }
    }
  }

  .taskAdditionalInfoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .estimateLabel {
      font-weight: 200;
      font-size: 12px;
      width: 80px;
      text-align: center;
      transition: font-size 400ms;

      @media only screen and (max-width: 576px) {
        display: none;
      }
    }

    .estimateSelector {
      background-color: none;
    }
  }
}

.hideElement {
  display: none;
}

.customWordCount {
  font-size: 10px;
  width: 20px;

  @media only screen and (max-width: 768px) {
    font-size: 8px;
  }
}
