@use "../../../../../styles/selectableColors.module.scss";

.barCategory {
  display: flex;
  justify-content: center;
  opacity: 0.2;
  cursor: pointer;

  &Completed {
    @extend .barCategory;
    opacity: 1;
  }
}
