.categoryHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.categoryTitleContainer {
  display: flex;
  align-items: center;

  .categoryInput {
    font-weight: 800;
    line-height: 40px;
    background: none;
    font-size: 26px;
    transition: padding 400ms, margin 400ms;
    border-bottom: 0px solid var(--icon-color);

    // Hide Scroll Bar
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      outline: none;
      margin-right: 10px;
      padding-bottom: 5px;
      border-bottom: 2px solid var(--icon-color);
      border-radius: 1px;
    }
  }

  .categoryCount {
    display: inline-block;
    background-color: var(--foreground-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
  }
}
