@use "../../../styles/selectableColors.module";

.dashboardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  width: 60vw;
  transition: padding 400ms width 400ms;

  @media only screen and (max-width: 992px) {
    width: 75vw;
  }

  @media only screen and (max-width: 768px) {
    width: 90vw;
    padding: 0px;
  }

  @media only screen and (max-width: 576px) {
    width: 95vw;
    padding: 0px;
  }

  .calenderContainer {
    width: 100%;
    box-shadow: var(--shadow-elevation-high);
    background-color: var(--foreground-color);
    border: 1px solid var(--subtle-color);
    border-radius: 10px;
    overflow: hidden;

    .calenderSkelton {
      display: flex;
      align-items: center;
      height: 33vh;
    }
  }
}

.categoriesContainer {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 20px;
  width: 100%;
  overflow-x: scroll;

  .categoryContainer {
    position: relative;
    cursor: pointer;

    .categoryText {
      font-size: 21px;
      font-weight: 200;
      color: var(--subtle-color);
      transition: color 300ms;

      &Selected {
        @extend .categoryText;
        font-weight: 400;
        color: var(--text-color);
      }
    }

    .categoryUnderline {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      margin-top: 5px;
      height: 2px;
      border-radius: 15px;
    }
  }
}

.barContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: var(--shadow-elevation-high);
  background-color: var(--foreground-color);
  border: 1px solid var(--subtle-color);
  border-radius: 10px;
  overflow: hidden;
  height: 250px;
  margin-bottom: 25px;
}
