.timeEstimateContainer {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  color: var(--text-color);
  font-weight: 100;
  font-size: 14px;

  @media only screen and (max-width: 992px) {
    font-size: 12px;
    width: 75px;
  }
}
