$background-color: #131322;
$foreground-color: #212236;
$subtle-color: #4d4e5e;
$icon-color: #6f68f6;
$icon-color-rga: 111, 104, 246;
$text-color: #eeebf2;

:export {
  background-color: $background-color;
  foreground-color: $foreground-color;
  icon-color: $icon-color;
  icon-color-rga: $icon-color-rga;
  text-color: $text-color;
  subtle-color: $subtle-color;
}
