$background-color: #e4e4e4;
$foreground-color: #b1b1b1;
$subtle-color: #4d4e5e;
$icon-color: #ffffff;
$text-color: #2b2b2b;

:export {
  background-color: $background-color;
  foreground-color: $foreground-color;
  icon-color: $icon-color;
  text-color: $text-color;
  subtle-color: $subtle-color;
}
