$background-color: #e4e6f0;
$foreground-color: #f3f3ff;
$subtle-color: #578080;
$icon-color: #00c6cf;
$icon-color-rga: 77, 78, 94;
$text-color: #2b2b2b;

:export {
  background-color: $background-color;
  foreground-color: $foreground-color;
  icon-color: $icon-color;
  icon-color-rga: $icon-color-rga;
  text-color: $text-color;
  subtle-color: $subtle-color;
}
