$background-color: #9f6c66;
$foreground-color: #bfa6a2;
$subtle-color: #543c47;
$icon-color: #655554;
$icon-color-rga: 101, 85, 84;
$text-color: #fff5f3;

:export {
  background-color: $background-color;
  foreground-color: $foreground-color;
  icon-color: $icon-color;
  icon-color-rga: $icon-color-rga;
  text-color: $text-color;
  subtle-color: $subtle-color;
}
