.cubeContainer {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;

  .themeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;

    &:hover .themeCube {
      border-radius: 50%;
      transform: translateY(-5px);
    }

    &:hover .themeTitle {
      font-weight: 400;
      color: var(--icon-color);
    }

    .themeTitle {
      font-size: 16px;
      font-weight: 100;
      color: var(--text-color);
      text-transform: lowercase;
      transition: color 400ms;
    }

    .themeCube {
      width: 100px;

      display: flex;
      flex-direction: column;
      overflow: hidden;
      transition: all 400ms;

      .cubePart {
        height: 33px;
        width: 100px;
      }
    }
  }
}
