.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  width: 100%;
  z-index: 12;

  transition: all 400ms;

  @media only screen and (max-width: 992px) {
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 576px) {
    margin-bottom: 15px;
  }

  .footerItems {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-top: 1px solid var(--subtle-color);
    padding-top: 15px;
    transition: all 400ms;
    width: 60vw;
    margin: auto;

    @media only screen and (max-width: 992px) {
      width: 75vw;
      gap: 10px;
    }

    @media only screen and (max-width: 768px) {
      width: 90vw;
    }

    @media only screen and (max-width: 576px) {
      width: 95vw;
      padding: 10px;
      gap: 4px;
    }

    .brandItems {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: var(--icon-color);
      margin-left: 10px;
      margin-right: 10px;
      width: 100%;

      .logo {
        font-family: "Coiny";
        font-size: 41px;
        font-weight: 700;
        color: white;
        text-shadow: 2px 2px var(--subtle-color);
        margin: 0;
        transition: all 400ms;
        transition: all 400ms;

        @media only screen and (max-width: 992px) {
          font-size: 31px;
        }

        @media only screen and (max-width: 576px) {
          font-size: 18px;
        }
      }

      .socialContainer {
        display: flex;
        justify-content: center;
        gap: 15px;

        @media only screen and (max-width: 576px) {
          gap: 10px;
        }

        .socialIcon {
          display: flex;
          align-items: center;

          cursor: pointer;
          color: var(--subtle-color);
          font-size: 26px;

          transition: all 400ms;

          @media only screen and (max-width: 992px) {
            font-size: 21px;
          }

          @media only screen and (max-width: 576px) {
            font-size: 16px;
          }
        }
      }
    }

    .legalItems {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      color: var(--subtle-color);
      margin-left: 10px;
      margin-right: 10px;
      font-size: 10px;
      font-weight: 200;

      @media only screen and (max-width: 576px) {
        font-size: 6px;
      }
    }
  }
}
