@use "../../../../styles/selectableColors";

.taskItem {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media only screen and (max-width: 992px) {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  @media only screen and (max-width: 768px) {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .taskInput {
    font-weight: 100;
    font-size: 18px;
    background: none;
    width: 100%;
    padding: 0;
    resize: none;
    word-wrap: break-word;
    transition: border 100ms, margin 400ms, font-size 400ms;

    @media only screen and (max-width: 992px) {
      font-size: 16px;
    }

    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }

    @media only screen and (max-width: 576px) {
      font-size: 12px;
    }

    // Hide Scroll Bar
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      outline: none;
      margin-top: 5px;
      margin-bottom: 5px;
      border-width: 1px;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
      border-style: solid;
      border-radius: 1px;
    }
  }
}

.taskTimeEstimateContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .estimateLabel {
    font-weight: 200;
    font-size: 16px;
    width: 100px;
    text-align: center;
    transition: font-size 400ms;

    @media only screen and (max-width: 992px) {
      width: 90px;
      font-size: 14px;
    }

    @media only screen and (max-width: 768px) {
      width: 80px;
      font-size: 12px;
    }

    @media only screen and (max-width: 576px) {
      display: none;
    }
  }

  .estimateSelector {
    background-color: none;
  }
}

.customTaskMenu {
  margin-right: 110px;
  margin-top: 5px;
}
