.taskItem {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;

  .taskStatusIcon {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: var(--icon-color);
  }

  .taskInput {
    font-weight: 100;
    font-size: 18px;
    background: none;
    width: 100%;
    padding: 0;
    resize: none;
    border-left: 0px solid var(--icon-color);
    overflow-y: hidden;
    word-wrap: break-word;
    transition: border 100ms, padding 400ms;

    // Hide Scroll Bar
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      outline: none;
      padding-left: 10px;
      border-left: 2px solid var(--icon-color);
      border-radius: 1px;
    }
  }
}

.taskTimeEstimateContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .estimateLabel {
    font-weight: 200;
    font-size: 16px;
    width: 100px;
    text-align: center;
  }

  .estimateSelector {
    background-color: none;
  }
}

// .inputsContainer {
//   display: flex;
//   gap: 15px;

//   .taskInput {
//     font-weight: 100;
//     font-size: 18px;
//     background: none;
//     width: 100%;
//     resize: none;
//     padding: 0;
//     overflow-y: auto;
//     word-wrap: break-word;
//     transition: padding 400ms;

//     // Hide Scroll Bar
//     -ms-overflow-style: none; /* IE and Edge */
//     scrollbar-width: none; /* Firefox */
//     &::-webkit-scrollbar {
//       display: none;
//     }

//     &::placeholder {
//       @extend .taskInput;
//       font-weight: 200;
//       color: var(--subtle-color);
//     }

//     &:focus {
//       outline-color: var(--icon-color);
//       padding-left: 10px;
//     }
//   }

//   .taskTimeEstimateContainer {
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .estimateLabel {
//       font-weight: 200;
//       font-size: 16px;
//       width: 100px;
//       text-align: center;
//     }

//     .estimateSelector {
//       background-color: none;
//     }
//   }
// }
