.taskItem {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
  margin-bottom: 15px;

  .taskStatusIcon {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: var(--icon-color);
  }

  .taskInput {
    font-weight: 100;
    font-size: 18px;
    background: none;
    width: 100%;
    padding: 0;
    resize: none;

    overflow-y: hidden;
    word-wrap: break-word;
    transition: padding 400ms;

    // Hide Scroll Bar
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }

    &:focus {
      outline: none;
      padding-left: 10px;
    }
  }
}
