@use "../../../styles/themes/light";
@use "../../../styles/themes/dark";
@use "../../../styles/themes/lobby";

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;

  .title {
    font-weight: 400;
    font-size: 36px;
    line-height: 0;
    text-align: center;
  }

  .subtext {
    font-weight: 200;
    font-size: 14px;
    text-align: center;
  }
}

.themeContainer {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;

  .themeSelector {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;
    font-weight: 100;

    &:hover .themeCube {
      border-radius: 100px;
      transform: translateY(-25px);
    }

    .themeTitle {
      font-size: 26px;
      font-weight: 100;
      text-transform: lowercase;
      text-align: center;

      &Selected {
        @extend .themeTitle;
        font-weight: 400;
      }
    }
  }
}

.submitButton {
  display: inline-block;
  text-align: center;
  background-color: var(--icon-color);
  border-radius: var(--button-border-radius);
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: 150px;
  font-size: 18px;
  transition: padding 200ms, opacity 100ms, width 200ms;
  cursor: pointer;
}

.cubeRow {
  display: inline-block;
  height: 40px;
  width: 120px;
}

.themeCube {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 120;
  border-width: 1px;
  border-style: solid;
  transition: all 600ms ease-out;

  &Light {
    @extend .themeCube;
    border-color: light.$foreground-color;

    &Selected {
      @extend .themeCubeLight;
      border-radius: 100px;
      transform: translateY(-25px);
    }

    .themeBackground {
      @extend .cubeRow;
      background-color: light.$background-color;
    }
    .themeForeground {
      @extend .cubeRow;
      background-color: light.$foreground-color;
    }
    .themeIcon {
      @extend .cubeRow;
      background-color: light.$icon-color;
    }
  }

  &Dark {
    @extend .themeCube;
    border-color: dark.$foreground-color;

    &Selected {
      @extend .themeCubeDark;
      border-radius: 100px;
      transform: translateY(-25px);
    }

    .themeBackground {
      @extend .cubeRow;
      background-color: dark.$background-color;
    }
    .themeForeground {
      @extend .cubeRow;
      background-color: dark.$foreground-color;
    }
    .themeIcon {
      @extend .cubeRow;
      background-color: dark.$icon-color;
    }
  }

  &Lobby {
    @extend .themeCube;
    border-color: lobby.$foreground-color;

    &Selected {
      @extend .themeCubeLobby;
      border-radius: 100px;
      transform: translateY(-25px);
    }

    .themeBackground {
      @extend .cubeRow;
      background-color: lobby.$background-color;
    }
    .themeForeground {
      @extend .cubeRow;
      background-color: lobby.$foreground-color;
    }
    .themeIcon {
      @extend .cubeRow;
      background-color: lobby.$icon-color;
    }
  }
}
