.barTooltip {
  position: absolute;
  bottom: px;
  left: -75px;
  background-color: var(--subtle-color);
  border-radius: 5px;
  padding: 5px;
  width: 150px;
  font-size: 10px;
  font-weight: 100;
  text-align: center;
  color: white;

  .barValue {
    font-weight: 400;
  }
}

.noBarText {
  color: var(--subtle-color);
}
