.categoryFormContainer {
  padding: 20px;
  width: 50vw;
  display: flex;
  align-items: center;
  gap: 15px;

  .addCategoryButton {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background: none;
    padding: 0px;
    cursor: not-allowed;
    color: var(--icon-color);
    opacity: 0.5;
    font-size: 25px;
    transition: opacity 200ms, font-size 400ms;

    &Populated {
      @extend .addCategoryButton;
      cursor: pointer;
      font-size: 30px;
      color: var(--icon-color);
      opacity: 1;
    }

    .addIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: color 400ms;
    }
  }

  .categoryInput {
    font-weight: 200;
    font-size: 18px;
    background: none;
    width: 20vw;
    resize: none;
    color: var(--foreground-color);
    transition: padding 400ms, color 800ms;

    &Populated {
      @extend .categoryInput;
      outline-color: var(--icon-color);
      color: var(--text-color);
      font-weight: 800;
    }

    &:focus {
      outline-color: var(--icon-color);
      padding-left: 5px;
    }
  }
}
