.categoryContainer {
  padding-top: 20px;
  width: 100%;

  .taskListContainer {
    display: flex;
    align-items: flex-start;
    background-color: var(--foreground-color);
    border: 1px solid var(--subtle-color);
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: var(--shadow-elevation-high);

    @media only screen and (max-width: 992px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    @media only screen and (max-width: 576px) {
      padding-left: 10px;
      padding-right: 10px;
    }

    .taskList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      padding: 0;
      width: 100%;
    }
  }
}
