.calenderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;

  @media only screen and (max-width: 768px) {
    margin-bottom: 0px;
  }

  .calenderHeader {
    display: flex;
    align-items: center;
    font-weight: 800;
    line-height: 26px;
    background: none;
    font-size: 26px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--icon-color);
    transition: font-size 400ms;

    @media only screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  .datesContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    // gap: 30px;

    .dateContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--subtle-color);
      font-size: 14px;
      font-weight: 200;
      margin: 5px;
      width: 50px;
      transition: font-size 400ms;

      @media only screen and (max-width: 768px) {
        font-size: 11px;
      }

      &Selected {
        @extend .dateContainer;
        color: var(--text-color);
        font-weight: 400;
      }

      .dayText {
        color: var(--subtle-color);
        font-size: 12px;
        font-weight: 200;
        transition: font-size 400ms;

        @media only screen and (max-width: 768px) {
          font-size: 8px;
        }
      }
    }
  }
}
