.calenderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;

  .calenderHeader {
    display: flex;
    align-items: center;
    font-weight: 800;
    line-height: 26px;
    background: none;
    font-size: 26px;
  }

  .datesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
    gap: 25px;

    .dateContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--subtle-color);
      font-size: 14px;
      font-weight: 200;
      margin: 5px;

      &Selected {
        @extend .dateContainer;
        color: var(--text-color);
        font-weight: 400;
      }

      .dayText {
        color: var(--subtle-color);
        font-size: 12px;
        font-weight: 200;
      }
    }
  }
}
