$category-color-default: var(--icon-color);
$category-color-default-secondary: var(--subtle-color);
$category-color-forest: #54655c;
$category-color-tan: #c9a069;
$category-color-space: #322b41;
$category-color-steel: #6d848a;
$category-color-copper: #9f6c66;
$category-color-pine-cone: #655554;

@mixin text-colors {
  color: $category-color-default;

  &Default {
    color: $category-color-default;
  }

  &DefaultSecondary {
    color: $category-color-default-secondary;
  }

  &Forest {
    color: $category-color-forest;
  }

  &Tan {
    color: $category-color-tan;
  }

  &Space {
    color: $category-color-space;
  }

  &Steel {
    color: $category-color-steel;
  }

  &Copper {
    color: $category-color-copper;
  }

  &PineCone {
    color: $category-color-pine-cone;
  }
}

@mixin colors-for-property($property) {
  #{$property}: $category-color-default;

  &Default {
    #{$property}: $category-color-default;
  }

  &DefaultSecondary {
    #{$property}: $category-color-default-secondary;
  }

  &Forest {
    #{$property}: $category-color-forest;
  }

  &Tan {
    #{$property}: $category-color-tan;
  }

  &Space {
    #{$property}: $category-color-space;
  }

  &Steel {
    #{$property}: $category-color-steel;
  }

  &Copper {
    #{$property}: $category-color-copper;
  }

  &PineCone {
    #{$property}: $category-color-pine-cone;
  }
}

.textColor {
  @include text-colors();
}

.borderColor {
  @include colors-for-property(border-color);
}

.backgroundColor {
  @include colors-for-property(background-color);
}

.outlineColor {
  @include colors-for-property(outline-color);
}

:export {
  // Category Colors
  category-color-default: $category-color-default;
  category-color-default-secondary: $category-color-default-secondary;
  category-color-forest: $category-color-forest;
  category-color-tan: $category-color-tan;
  category-color-space: $category-color-space;
  category-color-steel: $category-color-steel;
  category-color-copper: $category-color-copper;
  category-color-pine-cone: $category-color-pine-cone;

  // Global colors
  background-color: var(--background-color);
  foreground-color: var(--foreground-color);
  icon-color: var(--icon-color);
  text-color: var(--text-color);
  subtle-color: var(--subtle-color);
}
