:root {
  // default
  --background-color: #e4e4e4;
  --foreground-color: #b1b1b1;
  --icon-color: #ffffff;
  --text-color: #2b2b2b;
  --button-border-radius: 20px;
}

[data-theme="light"] {
  --background-color: #e4e4e4;
  --foreground-color: #b1b1b1;
  --icon-color: #ffffff;
  --text-color: #2b2b2b;
}

[data-theme="dark"] {
  --background-color: #131322;
  --foreground-color: #212236;
  --icon-color: #6f68f6;
  --text-color: #eeebf2;
}

[data-theme="lobby"] {
  --background-color: #9f6c66;
  --foreground-color: #cabbb5;
  --icon-color: #655554;
  --text-color: #eeebf2;
}

html,
body {
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  // transition: color 400ms, background-color 400ms;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
