@use "./themes/light.module.scss";
@use "./themes/dark.module.scss";
@use "./themes/lobby.module.scss";
@use "./themes/sea.module.scss";
@use "./themes/cappuccino.module.scss";

:root {
  // default
  --background-color: #{light.$background-color};
  --foreground-color: #{light.$foreground-color};
  --subtle-color: #{light.$subtle-color};
  --icon-color: #{light.$icon-color};
  --icon-color-rga: #{light.$icon-color-rga};
  --text-color: #{light.$text-color};
  --button-border-radius: 20px;
}

[data-theme="light"] {
  --background-color: #{light.$background-color};
  --foreground-color: #{light.$foreground-color};
  --subtle-color: #{light.$subtle-color};
  --icon-color: #{light.$icon-color};
  --icon-color-rga: #{light.$icon-color-rga};
  --text-color: #{light.$text-color};
}

[data-theme="dark"] {
  --background-color: #{dark.$background-color};
  --foreground-color: #{dark.$foreground-color};
  --subtle-color: #{dark.$subtle-color};
  --icon-color: #{dark.$icon-color};
  --icon-color-rga: #{dark.$icon-color-rga};
  --text-color: #{dark.$text-color};
}

[data-theme="lobby"] {
  --background-color: #{lobby.$background-color};
  --foreground-color: #{lobby.$foreground-color};
  --subtle-color: #{lobby.$subtle-color};
  --icon-color: #{lobby.$icon-color};
  --icon-color-rga: #{lobby.$icon-color-rga};
  --text-color: #{lobby.$text-color};
}

[data-theme="sea"] {
  --background-color: #{sea.$background-color};
  --foreground-color: #{sea.$foreground-color};
  --subtle-color: #{sea.$subtle-color};
  --icon-color: #{sea.$icon-color};
  --icon-color-rga: #{sea.$icon-color-rga};
  --text-color: #{sea.$text-color};
}

[data-theme="cappuccino"] {
  --background-color: #{cappuccino.$background-color};
  --foreground-color: #{cappuccino.$foreground-color};
  --subtle-color: #{cappuccino.$subtle-color};
  --icon-color: #{cappuccino.$icon-color};
  --icon-color-rga: #{cappuccino.$icon-color-rga};
  --text-color: #{cappuccino.$text-color};
}

html,
body {
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  transition: color 400ms, background-color 400ms;
}

//TODO: look into why body styling not applying to button / input
button {
  border: none;
  font-family: "Poppins", sans-serif;
}

input {
  border: none;
  font-family: "Poppins", sans-serif;
}

textarea {
  border: none;
  font-family: "Poppins", sans-serif;
}

kbd {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
