@use "../../../styles/selectableColors";

.tickBoxIcon {
  display: inline-block;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  padding: 10px;

  @media only screen and (max-width: 768px) {
    padding: 8px;
  }

  @media only screen and (max-width: 576px) {
    padding: 6px;
    border-width: 1px;
  }

  &Empty {
    @extend .tickBoxIcon;
    background: none;
  }
}

.path {
  stroke: var(--icon-color);
}
