@use "../../../styles/selectableColors";

.tickBoxIcon {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  cursor: pointer;
  padding: 5px;

  &Empty {
    @extend .tickBoxIcon;
    background: none;
  }
}

.path {
  stroke: var(--icon-color);
}
