.chartContainer {
  display: block;
  width: 100%;
  transition: margin 400ms;
  margin-left: 13px;

  @media only screen and (max-width: 1300px) {
    margin-left: 23px;
  }
}

.calendarContainer {
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.legendContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  width: 100%;
  color: var(--text-color);
  font-weight: 200;
  font-size: 12px;
  text-align: center;
  margin-left: -50px;
  margin-top: -30px;
  padding-bottom: 20px;

  @media only screen and (max-width: 576px) {
    justify-content: center;
    margin-left: -23px;
  }

  .legendBox {
    height: 15px;
    width: 15px;
  }
}

.tooltipContainer {
  width: 100px;
  background-color: var(--subtle-color);
}
